@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-50: linear-gradient(279.69deg,
      rgba(0, 121, 109, 0.1) 0%,
      rgba(56, 198, 130, 0.1) 100%);
  --primary-100: linear-gradient(279.69deg,
      rgba(0, 121, 109, 0.2) 0%,
      rgba(56, 198, 130, 0.2) 100%);
  --primary-200: linear-gradient(279.69deg,
      rgba(0, 121, 109, 0.4) 0%,
      rgba(56, 198, 130, 0.4) 100%);
  --primary-300: linear-gradient(279.69deg,
      rgba(0, 121, 109, 0.6) 0%,
      rgba(56, 198, 130, 0.6) 100%);
  --primary-400: linear-gradient(278.87deg,
      rgba(0, 121, 109, 0.8) 0.61%,
      rgba(56, 198, 130, 0.8) 100%);
  --primary-500: linear-gradient(279.69deg, #00796d 0%, #38c682 100%);
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Inter";
  font-style: normal;
}

#hero {
  padding-bottom: 135px;
  background: #0c111f;
  background-image: url(/assets/icons/ornament.svg);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.nav {
  height: 94px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

.list_item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.nav_btn {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  width: 134px;
  height: 56px;
  border: none;
  background: linear-gradient(279.69deg, #00796d 0%, #38c682 100%);
  border-radius: 100px;
}

.hero_info_cap {
  width: 351px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.hero_info_cap p {
  padding-top: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero_info {
  padding-bottom: 24px;
  margin-top: 112px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero_info h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  background: #ffffff;
  letter-spacing: -0.02em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero_info span {
  font-weight: 700;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.02em;
  background: linear-gradient(279.69deg, #00796d 0%, #38c682 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero_info_txt {
  margin-bottom: 56px;
  max-width: 693px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #b6b8bc;
}

.hero_btn {
  margin-bottom: 45px;
  column-gap: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 68px;
  background: linear-gradient(279.69deg, #00796d 0%, #38c682 100%);
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.hero_bottom {
  padding-bottom: 135px;
  width: 100%;
  height: 334px;
  background-color: #38c682;
  clip-path: polygon(24% 5%, 72% 5%, 72% 20%, 100% 20%, 100% 100%, 0 98%, 0 20%, 24% 20%);
  border-radius: 20px;
  margin-bottom: 135px;
}

.hero_bottom h1 {
  padding-top: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;

}

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.wrapper_1 {
  margin-top: 43px;
  width: 290px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_1 p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.services {
  padding-top: 100px;
  padding: auto 80px;
  margin-bottom: 100px;
}

.services h1 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 72px;
  text-align: center;
  color: #0C111F;
}

.services h1 span {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(279.69deg, #00796D 0%, #38C682 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}


.ui_ux {
  background: #F8F8F8;
  border-radius: 20px;
  margin-bottom: 24px;
}


.ui_ux--top {
  padding: 54px 60px 24px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.ui_ux--top-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.ui_ux--top-left h2 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  background: linear-gradient(279.69deg, #00796D 0%, #38C682 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.services .container p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  color: #5C5E60;
  margin-bottom: 50px;
}

.services .container img {
  width: 1320px;
}

.digital {

  margin-bottom: 40px;
}

.digital .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 148px;

  background: #F8F8F8;
  border-radius: 20px;
}

.digital__text {
  display: flex;
  align-items: center;
  gap: 40px;
}

.digital .container img {
  width: 26px;
  height: 26px;
}

.we_are {
  margin: 0 auto 0 auto;
  width: 1440px;
  height: 561px;
  background: linear-gradient(279.69deg, rgba(0, 121, 109, 0.1) 0%, rgba(56, 198, 130, 0.1) 100%);
}

.we_are-p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 44px;
  color: #0C111F;
  margin-bottom: 64px;
  padding-top: 80px;
}

.we_are .container .degrees {
  height: 181px;
  background: linear-gradient(279.69deg, #00796D 0%, #38C682 100%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.we_are .container .degrees h2 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 72px;
  color: #FFFFFF;
}

.we_are .container .degrees p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  color: #F3F3F3;
}

.our_project {
  margin: 0 auto 0 auto;
  width: 1440px;
  background: #0C111F;
}

.our_project--h2 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 72px;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  color: #FFFFFF;
  padding-top: 100px;
  text-align: center;
}

.our_project--h2 span {
  color: #00796d;
}

.our_project--p {
  padding-top: 24px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #B6B8BC;
  margin-bottom: 56px;
}

.our_ui--ux {
  width: 709px;
  height: 72px;
  display: flex;
  align-items: center;
  margin-left: 300px;
  padding: 26px;
  background: #F3F3F3;
  border-radius: 100px;
  gap: 48px;
}

.our_ui--ux p {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6D7079;
  transition: all 1s ease;
}

.our_ui--ux p:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  width: 150px;
  height: 56px;
  background: linear-gradient(279.69deg, #00796D 0%, #38C682 100%);
  border-radius: 100px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  transition: all 1s ease;
}

.our_project{
  margin-bottom: 182px;
}

.our_project--title {
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.our_project--title-link{
  transition: all 1s ease;
}

.our_project--title-link:hover {
  transition: all 1s ease;
  width: 630px;
  height: 755px;
  background: #181D2A;
  border-radius: 32px;

}

.our_project--title-link h2 {
  cursor: pointer;
  padding-top: 24px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.our_project--title-link p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #B6B8BC;
}

.our_project--list{
  padding-top: 159.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  padding: 85px;
}

.our_project--list img{
  width: 160px;
  height: 40px;
  padding: auto 83px;
  filter: brightness(1%);
  transition: all 1s ease;
}

.our_project--list img:hover{
  transition: all 1s ease;
  filter: brightness(100%);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img{
  width: 100%;
}