@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Exo:wght@200&family=Inter:wght@400;500;600;700;800&family=Kanit:wght@400;500;600&family=Montserrat&family=Nunito:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Pridi&family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
    font-family: "Sharp Sans";
    src: url(../assets/fonts/sharp-sans-cufonfonts/Sharp\ Sans\ Medium.otf);
}

@font-face {
    font-family: 'Sofia Pro';
    src: url(../assets/fonts/sofia-pro/Sofia\ Pro\ Regular\ Az.otf);
}

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #ffffff2e;
    backdrop-filter: blur(10px);
    height: 70px;
}

.just__eat {
    margin-bottom: 195px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 92px;
    padding-top: 12px;
}

.nav__left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
}

.nav__left .general {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #333333;
    transition: all 1s ease;
}

.nav__left .general:hover {
    color: #5FB848;
    box-shadow: 6px 4px 4px #88c55a;
}

.nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    list-style-type: none;

}

.nav a {
    text-decoration: none;
}

.list a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #333333;
}

.item1 a {
    font-family: 'Sofia Pro';
    font-weight: 500;
    font-size: 20px;
    color: #5FB848;
    transition: all 1s ease;
}

.list .item1 a:hover {
    color: #5eff00;
}

.item2 a {
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 20px;
    color: #2C3847;
    transition: all 1s ease;
}

.list .item2 a:hover {
    color: #787878;
}

.nav__right--button {
    width: 160px;
    height: 54px;
    background: #494949;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.nav__right--item {
    transition: all 1s ease;
}

.nav__right--item:hover {
    filter: brightness(0);
}

.nav__right--button {
    transition: all 1s ease;
}

.nav__right--button:hover {
    color: #5FB848;
    background: #333333;
    box-shadow: 6px 4px 4px #494949;
}

main {
    padding-top: 60px;
}

.wrapper {
    width: 630px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper__right img {
    position: absolute;
    top: 127px;
    left: 700px;
    width: 750px;
    height: 757px;
}

.wrapper h1 {
    font-family: 'Sharp Sans';
    font-weight: 770;
    font-size: 76px;
    color: #181D19;
}

.wrapper h1 span {
    color: #5FB848;
}

.wrapper p {
    font-family: 'Sharp Sans';
    font-weight: 100;
    font-size: 24px;
    color: #181D19;
    margin-bottom: 50px;
}

.wrapper a {
    width: 200px;
    height: 64px;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Sofia Pro'; */
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 50px;
    text-decoration: none;
    transition: all 1s ease;
}

.wrapper a:hover {
    background: linear-gradient(180deg, #36861b 0%, #2fe471 100%);
    color: #ecececaa;

}

.choose {
    padding-top: 165px;
}

.wrapper__choose--text {
    text-align: center;
    margin-bottom: 62px;
}

.wrapper__choose--text h2 {
    font-family: 'Sharp Sans';
    font-weight: 770;
    font-size: 54px;
    text-align: center;
    color: #151414;
    margin-bottom: 15px;
}

.wrapper__choose--text p {
    font-family: 'Sharp Sans';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #3B433E;
}

.wrapper__choose--list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 100px;
    margin-bottom: 60px;
}

.wrapper__choose--list-item img {
    margin-bottom: 36px;
}

.wrapper__choose--list-item h2 {
    font-family: 'Sharp Sans';
    font-weight: 770;
    font-size: 28px;
    text-align: center;
    color: #181D19;
    margin-bottom: 18px;
}

.wrapper__choose--list-item p {
    font-family: 'Sharp Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background: linear-gradient(180deg, #39463F 0%, #101612 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.choose__numbers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.choose__numbers h1 {
    font-family: 'Sharp Sans';
    font-weight: 780;
    font-size: 44px;
    text-align: center;
    color: #000000;
}

.choose__numbers p {
    font-family: 'Sharp Sans';
    font-weight: 460;
    font-size: 20px;
    color: #545454;
}

.about {
    padding-top: 120px;
    margin-bottom: 142px;
}

.about__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 95px;
}

.about__left {
    width: 500px;
    height: 468px;
}

.about__left h2 {
    font-family: 'Sharp Sans';
    font-weight: 770;
    font-size: 54px;
    color: #151414;
    margin-bottom: 30px;
}

.about__left p {
    font-family: 'Sharp Sans';
    font-weight: 400;
    font-size: 22px;
    color: #181D19;
    margin-bottom: 68px;
}

.about__left a {
    width: 210px;
    height: 64px;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    transition: all 2s ease;
}

.about__left a:hover {
    background: linear-gradient(180deg, #36861b 0%, #2fe471 100%);
    color: #ecececaa;
}



.about__right {
    display: grid;
    grid-template-rows: (3, 1fr);
    grid-template-columns: (5, 1fr);
    gap: 0px;
    height: 100vh;
    justify-items: stretch;
    align-items: stretch;
    width: 100vh;

}

#item-0 {


    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;

}

#item-1 {

    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;

}

#item-2 {

    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;

}

#item-3 {


    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;

}

.fresh__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 71px;
    margin-bottom: 60px;
}

.fresh__item--text h2 {
    font-family: 'Sharp Sans';
    font-weight: 770;
    font-size: 54px;
    color: #151414;
    margin-bottom: 30px;
}

.fresh__item--text p {
    font-family: 'Sharp Sans';
    font-weight: 400;
    font-size: 22px;
    color: #181D19;
    margin-bottom: 40px;
}

.fresh__item--text a {
    width: 210px;
    height: 64px;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    transition: all 2s ease;
}

.fresh__item--text a:hover {
    background: linear-gradient(180deg, #36861b 0%, #2fe471 100%);
    color: #ecececaa;
}

.fresh__item:nth-child(2) {
    flex-direction: row-reverse;
}

.check p {
    display: flex;
    align-items: center;
    gap: 23.5px;
    margin-bottom: 20px;
}

.special__text {
    text-align: center;
    margin-bottom: 110px;
}

.special__text h2 {
    font-family: 'Sharp Sans';
    font-weight: 770;
    font-size: 54px;
    color: #151414;
    margin-bottom: 15px;
}

.special__text p {
    font-family: 'Sharp Sans No1';
    font-weight: 400;
    font-size: 24px;
    color: #3B433E;
}

.special__list {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 51px;
    margin-bottom: 60px;
}

.special__list--item {
    width: 356px;
    height: 520px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    box-shadow: -15px -50px 81px #FFFFFF, 10px 20px 70px rgba(71, 68, 68, 0.08);
}

.special__list h2 {
    font-family: 'Sharp Sans';
    font-weight: 770;
    font-size: 30px;
    color: #151414;
    padding-top: 27px;
    margin-bottom: 20px;
}

.special__list p {
    font-family: 'Sharp Sans No1';
    font-weight: 400;
    font-size: 18px;
    color: #3B433E;
}

.special__button a {
    width: 210px;
    height: 64px;
    background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 645px;
    text-decoration: none;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    transition: all 2s ease;
}

.special__button a:hover {
    background: linear-gradient(180deg, #36861b 0%, #2fe471 100%);
    color: #ecececaa;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.client {
    padding-top: 190px;
}

.client_h2 {
    font-family: 'Sharp Sans';
    font-weight: 770;
    font-size: 54px;
    text-align: center;
    color: #151414;
    margin-bottom: 47px;
}

.center__item {
    width: 514px;
    max-height: 347px;
    transition: all 2px ease;
}

.sss {
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 64px;
}

.center_left_general {
    display: flex;
    align-items: center;
    gap: 126px;
    margin-bottom: 32px;
}

.avatars {
    display: flex;
    align-items: center;
    gap: 37px;
}

.avatar_text h2 {
    font-family: 'Sharp Sans';
    font-weight: 770;
    font-size: 20px;
    color: #333333;
}

.avatar_text p {
    font-family: 'Sharp Sans';
    font-weight: 760;
    font-size: 14px;
    color: #888A9A;
}

.center__item_p {
    font-family: 'Sharp Sans';
    font-weight: 400;
    font-size: 18px;
    color: #181D19;
}

.center__item:hover {
    background: #ffffff;
    border: 2px solid #FFFFFF;
    box-shadow: 3px 15px 35px rgba(15, 28, 144);
    border-radius: 8px;
    transition: all 1s ease;
}

.arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
