
%cover-image{

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

%center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 50px;
    color: lime;

}